In [118]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns

#Importing dataset
test = pd.read_csv('test.csv')
train = pd.read_csv('train.csv')
target = pd.DataFrame(np.random.randint(0,2, size=(len(test))))
test['target'] = target
test.head()

,id,keyword,location,text,target
0,0,NaN,NaN,Just happened a terrible car crash,1
1,2,NaN,NaN,"Heard about #earthquake is different cities, s...",0
2,3,NaN,NaN,"there is a forest fire at spot pond, geese are...",1
3,9,NaN,NaN,Apocalypse lighting. #Spokane #wildfires,1
4,11,NaN,NaN,Typhoon Soudelor kills 28 in China and Taiwan,0

In [119]:
#Data Cleaning
print('Numder of location missing values in test set: %d' %test['location'].isnull().sum())
print('Numder of location missing values in train set: %d' %train['location'].isnull().sum())
print('Numder of keyword missing values in test set: %d' %test['keyword'].isnull().sum())
print('Numder of keyword missing values in train set: %d' %test['keyword'].isnull().sum())

Numder of location missing values in test set: 1105
Numder of location missing values in train set: 2533
Numder of keyword missing values in test set: 26
Numder of keyword missing values in train set: 26

In [120]:
#Fill missing values with zero
for df in [test, train]:
    for col in ['keyword','location']:
        df[col]=df[col].fillna('no_{col}')

In [121]:
test.head()

,id,keyword,location,text,target
0,0,no_{col},no_{col},Just happened a terrible car crash,1
1,2,no_{col},no_{col},"Heard about #earthquake is different cities, s...",0
2,3,no_{col},no_{col},"there is a forest fire at spot pond, geese are...",1
3,9,no_{col},no_{col},Apocalypse lighting. #Spokane #wildfires,1
4,11,no_{col},no_{col},Typhoon Soudelor kills 28 in China and Taiwan,0

Target Encoding: This is the process of replacing a categorical value with the mean of the target variable. Any non-categorical columns are automatically dropped by the target encoder model. Target encoding can also be used to convert categorical columns to numeric.
Cardinality: Cardinality refers to the number of possible values that a feature can assume. Example: US can have 50 possible values(states)
When your doing supervised learning you often have to deal with categorical variables, Most machine learning algorithms require the imput data to be numerica. Ways of converting cat to num variables:
1. Label encoding
2. One-shot encoding
3. Vector representation
4. Optimal binning
5. Target encoding

In [129]:
test_keyword = test["keyword"]
means = test.groupby('keyword')['target'].mean()
#count plot
#figure out the best way to visualize this